In [1]:
import pandas as pd
import numpy as np
import json

In [2]:

# missing_values = ['na','--','?','-','None','none','non','n/a']
movies = pd.read_csv(r'/home/kml/GIT/lbd_projekt/tmdb_5000_movies.csv') #, na_values=missing_values)
credits = pd.read_csv(r'/home/kml/GIT/lbd_projekt/tmdb_5000_credits.csv') #, na_values=missing_values)

In [3]:
display(movies)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [4]:
def parse(series, key):
    tmp = series.copy(deep=True)
    tmp = tmp.map(lambda x: json.loads(x))
    tmp = tmp.map(lambda x: list(map(lambda y: y[key], x)))
    return tmp

In [5]:
foo = movies.copy()

columns = ['id', 'original_title']
parsedColumns = []
toParse = [ 
    { 'col': 'genres', 'key': 'name' },
    { 'col': 'keywords', 'key': 'name'},
    { 'col': 'production_countries', 'key': 'name'},
    { 'col': 'production_companies', 'key': 'name'}
]

for x in toParse:
    foo[x['col']] = parse(foo[x['col']], x['key'])
    parsedColumns.append(x['col'])
        
foo = foo.filter(columns + parsedColumns)
display(foo)

,id,original_title,genres,keywords,production_countries,production_companies
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[United States of America, United Kingdom]","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[United States of America],"[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[United Kingdom, United States of America]","[Columbia Pictures, Danjaq, B24]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[United States of America],"[Legendary Pictures, Warner Bros., DC Entertai..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[United States of America],[Walt Disney Pictures]
...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Mexico, United States of America]",[Columbia Pictures]
4799,72766,Newlyweds,"[Comedy, Romance]",[],[],[]
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...",[United States of America],"[Front Street Pictures, Muse Entertainment Ent..."
4801,126186,Shanghai Calling,[],[],"[United States of America, China]",[]
4802,25975,My Date with Drew,[Documentary],"[obsession, camcorder, crush, dream girl]",[United States of America],"[rusty bear entertainment, lucky crow films]"

In [29]:
def splitColumns(data, columns):
    tmp = data.copy(deep=True)
    for index, row in tmp.iterrows():
        for col in columns:
            for x in row[col]:
                tmp.at[index, x] = 1
    tmp = tmp.drop(columns=columns)
    tmp = tmp.fillna(0)
    return tmp


def buildMovieRatings(data, ratings):
    titles = ratings.keys()
    ratedMovies = data.copy()
    ratedMovies = ratedMovies[ratedMovies['original_title'].isin(titles)]
    ratedMovies = ratedMovies.filter(['id', 'original_title'])
    ratedMovies['rating'] = ratedMovies.apply(lambda x: ratings[x['original_title']], axis=1)
    ratedMovies.reset_index(drop=True, inplace=True)
    return ratedMovies

def alterRatings(data, ratings):
    p = profile.copy(deep=True)
    for key in ratings:
        p[key] =  ratings[key] if p[key] == 0 else p[key]
    return p

def buildProfile(data, movieRatings):
    ratedMovies = data.copy()
    ratedMovies = ratedMovies[ratedMovies.id.isin(movieRatings.id)]

    ratedMovies.reset_index(drop=True, inplace=True)
    ratedMovies.drop(columns=columns, axis=1,inplace=True)
    
    profile = ratedMovies.T.dot(movieRatings.rating)
    return profile

def getDataWithoutRatedMovies(data, movieRatings):
    return data[~data.id.isin(movieRatings.id)]

def getRecom(data, profile, n):
    tmp = data.copy()
    tmp = tmp.drop(columns=columns)
    recom = (tmp.dot(profile)) / profile.sum()
    recom.sort_values(ascending=False, inplace=True)
    top5ind = recom.index[:n].tolist()
    recom_movies = movies.loc[top5ind,:]
    return recom_movies

In [31]:
data = splitColumns(foo[0:100], parsedColumns)

movieRatings = {
    'Inception': 4.0,
    'Interstellar': 4.5, 
    'Pacific Rim': 3.0 
}

otherRatings = { 
    'Fantasy': 4,
    'Walt Disney Pictures': 50,
    'ocean': 50 
}

movieRatingsData = buildMovieRatings(data, movieRatings)

profile = buildProfile(data, movieRatingsData)
profile = alterRatings(profile, otherRatings)

data = getDataWithoutRatedMovies(data, movieRatingsData)
recom_movies = getRecom(data, profile, 20)

display(recom_movies['original_title'])

1        Pirates of the Caribbean: At World's End
39                                   TRON: Legacy
4                                     John Carter
87                                   Tomorrowland
55                                          Brave
78                                The Jungle Book
14                                   Man of Steel
88                                     Big Hero 6
75                                     Waterworld
17    Pirates of the Caribbean: On Stranger Tides
81                                     Maleficent
50            Prince of Persia: The Sands of Time
12     Pirates of the Caribbean: Dead Man's Chest
37                     Oz: The Great and Powerful
32                            Alice in Wonderland
13                                The Lone Ranger
77                                     Inside Out
40                                         Cars 2
65                                The Dark Knight
54                              The Good Dinosaur
Name: original_title, dtype: object